@use '@/colors' as *;

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        $margin: clamp(1px, 1vw, 5px);
        $padding: clamp(1px, 1vw, 5px);
        color: $text;
        margin: $margin;
        padding: $padding;
        transition: all 0.1s;
    }

    a:hover {
        color: #fff;
    }

    // Я написал это вчера и уже не знаю, что это такое, но
    // оно ничего не делает. Оставлю в комменте на всякий.
    // a::before {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     top: 0px;
    //     left: 0px;
    //     height: 100%;
    //     z-index: -1;
    //     transition: all 0.1s;
    // }

    // a:hover::before {
    //     // background-color: $primary;
    // }
}
