@use '@/colors' as *;

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 25dvh;
    height: fit-content;
    width: clamp(150px, 80vw, 400px);
    background-color: $primary;
    color: $text;
    border-radius: 10px;

    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .end {
        button {
            background-color: $secondary;
        }
    }
}
