@use '@/colors' as *;

$padding: clamp(1px, 2vw, 10px);
$margin: clamp(1px, 2vw, 10px);

.imageCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #181818;
    margin: $margin;
    // padding: $padding;
    width: clamp(200px, calc(90vw - 2 * $padding - 2 * $margin), 425px);
    aspect-ratio: 3 / 1;
    border-radius: 10px;
    
    transition: all 0.1s;
    scale: 1.00;

    .image {
        border-radius: 10px 10px 0 0;
        aspect-ratio: 1920 / 1080;
        height: calc(300% * 1080 / 1920);
    }

    .end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 2 * $padding);
        height: calc(100% - 300% * 1080 / 1920);
        padding: $padding;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 80%;
        }

        button {
            padding: 0 5px;
            height: calc(100% + 2 * $padding);

            transition: all 0.1s;
            background-color: rgba(255, 255, 255, 0.0);
        }

        button:hover {
            background-color: rgba(255, 255, 255, 0.10);
        }
    }
}

.imageCard:hover {
    scale: 1.02;
}
