@use '@/colors' as *;

$padding: 20px;

.footer {
    display: flex;
    flex-shrink: 0;
    position: relative;
    justify-content: center;
    width: calc(80% - 2 * $padding);
    padding: $padding;

    p {
        font-size: min(3.5vw, 14px);
    }
}

.footer::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(90deg, transparent 5%, $pale 10%, $pale 90%, transparent 95%);
    top: 0px;
    left: calc(0px - 10vw);
    width: 95vw;
    height: 1px;

    @media screen and (min-width: $tablet) {
        height: 2px;
    }
}