@use '@/colors' as *;

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 40dvh;
    height: fit-content;
    width: clamp(150px, 90vw, 400px);
    background-color: $primary;
    color: $text;
    border-radius: 10px;

    .head {
        
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .input {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            input[type='text'] {
                border-radius: 10px;
                padding: 5px;
                margin: 5px;
                border: none;
                background-color: $background;
            }

            input[type='text']:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }
            
        }


        .radioInput {
            display: flex;
            width: 100%;

            input[type="radio"] {
                display: none;
            }
    
            label {
                padding: 6px;
                width: 100px;
                text-align: center;
                border-radius: 10px;
                
                transition: all 0.1s;
                background-color: $primary;
            }
    
            label:hover {
                background-color: $box-shadow;
            }
    
            input[type="radio"]:checked + label {
                background-color: rgb(0, 87, 0);
            }
        }
    }

    .end {
        $margin: 5px;
        $padding: 5px;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        margin: $margin;
        padding: $padding;
        width: calc(100% - $margin * 2 - $padding * 2);
        justify-content: flex-end;
    
        button {
            background-color: $background;
            padding: 5px;
            border-radius: 10px;
            
            transition: all 0.1s;
            color: $pale;
        }
    
        button:hover {
            color: $text;
        }
    }
}

// Почему 34 😭
$margin: 34px;

.imageList {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: min(90vw, 2000px);
    margin: $margin 0px;
}
