@use '@/colors' as *;

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .button {
        color: $text;
    }

    .p {
        color: $pale;
    }
}