@use '@/colors' as *;

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

    button {
        color: $text;
        margin: 5px;
        padding: 5px;
        background-color: $primary;
        border-radius: 10px;
    }

    button:hover {
        background-color: $box-shadow;
    }

    button:active {
        background-color: $onclick;
    }
    
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        
        label {
            padding: 5px;
        }
    }
    
    .timeInterval, .timeOrder {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

    }

    input {
        margin: 5px;
        padding: 5px;
        background-color: $primary;
        outline: none;
        box-shadow: none;
        border: none;
        border-radius: 10px;
    }

    .categories {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        input[type="radio"] {
            display: none;
        }

        label {
            margin: 5px;
            padding: 6px;
            width: 100px;
            text-align: center;
            border-radius: 10px;
            
            transition: all 0.1s;
            background-color: $primary;
        }

        label:hover {
            background-color: $box-shadow;
        }

        input[type="radio"]:checked + label {
            background-color: rgb(0, 87, 0);
        }
    }

    input:hover {
        background-color: $box-shadow;
    }
    
    .p {
        color: $pale;
    }
    
}